h1{
	text-transform: uppercase;
}/*id*/
#author{
	color: blue;
	letter-spacing: 1px;
}/*class*/
.dreams{
	color: green;
}/*attribute*/
input[type="text"] {
	border-width: 3px;
	border-color: blue;
	border-style: solid;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}
body > form > label{
	color: blue;
}
div button {
	width: 50px;
	height: 25px;
	color: white;
	background-color: green;
	font-size: 10px;
}

#activityhtml {
	
}