*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Russo One', sans-serif;
}

#activityhtml {
	font-family: 'Tinos', serif;
}

/*Nav Bar*/
#brand {
	font-family: 'Orbitron', sans-serif;
	font-size: 36px;

}
#navbar a {
	text-decoration: none;
	color: black;

}

#navbar a:hover {
	color: blue;
}

#navbar-icon {
	font-size: 24px;
	padding-right: 12px;
}

#menubutton {
	padding: 5px;
}

#submenuoption {
	display: flex;

}

#title {
	text-align: center;
	padding: 10px;
	color: white;
}

#introduction {
	text-align: center;

}

/*Introductionary Page*/

}
#backgroundlayout {
	height: auto;
	width: auto;
}
#icon {
	font-size: 36px;
	padding-right: 12px;
}

#description {
	display: flex;

}

#subdescription {
	text-align: left;
}


#myname {
	padding: 36px;
}
/*Portfolio*/

#backgrounds {
	background:	url("../images/tech.jpg"); 
	height: auto;
}


#portimage {
	height: 170px;
	width: auto;
}

#portfolio {
	text-align: center;
	padding: 20px
}
#portfolio-items {
	justify-content: space-between;
}

#portcard {
	margin: 12px;
	width: 10rem;
}

/*Contact Me*/

#address {
	color: white;
}

#sendme {
	color: black;
}

/*Footer*/
#footername {
	font-size: 110%;
}